* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif, serif;
}
body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 80vh 10vh;
}
aside {
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "logo navigation";
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 10vh;
    background-color: #483838;
}
.logo {
    grid-area: logo;
}
.logo img {
    width: 25vw;
    height: 10vh;
}
nav {
    grid-area: navigation;
    display: flex;
    flex-direction: row; 
    align-items: center;
    z-index: 1; 
}
.nav_link {
    position: relative;
    background-color: #42855B;
    display: grid;
    grid-template-columns: 1fr;
    width: 75vw;
    padding: 10px;
}
.navigation_a {
    text-align: center;
    color: white;
    text-decoration: none;
}
.nav_link:hover {
    background-color: #483838;
}
.navigation_a:hover {
    text-align: center;
    color: white;
    text-decoration: none;
}
.navbar-toggler {
    color: white;
    display: flex;
    float: right;
    margin-left: 85% !important;
}
/* main content */
.main_content {
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "left_side banner"
    "left_side main_content"
    "left_side main_content"
    "left_side main_content";
    grid-template-rows: 20vh 20vh 20vh 20vh;
    grid-template-columns: 40vw 60vw;
}
.left_side {
    grid-area: left_side;
    display: grid;
    grid-template-areas: 
    "rating"
    "buttons";
    grid-template-rows: 70vh 10vh;
    grid-template-columns: 40vw;
    border: 1px solid black;
    border-right: none;
}
.rating {
    grid-area: rating;
}
.rating img {
    width: 40vw;
    height: 70vh;
}
.buttons {
    grid-area: buttons;
    justify-self: center;
}
.buttons button {
    border-radius: 25px;
    padding: 3px 2px;
    background-color: #42855B;
    color: white;
    font-size: 15px;
}
.buttons button:hover {
    background-color: #483838;
}
button a:link {
    text-decoration: none;
    color: white;
}
button a:visited {
    text-decoration: none;
    color: white;
}
.content {
    grid-area: main_content;
    display: grid;
    grid-template-areas: 
    "header header"
    "left_content right_content";
    grid-template-rows: 10vh 50vh;
    grid-template-columns: 30vw 30vw;
    border: 1px solid black;
    border-top: none;
}
.content_header {
    grid-area: header;
    text-align: center;
    padding-top: 3vh;
    background-color: #483838;
    opacity: 0.9;
    color: white;
}
.left_content {
    grid-area: left_content;
    background-color: #483838;
    opacity: 0.8;
    border-right: 1px solid black;
    text-align: center;
    font-size: 12px;
    padding: 3px;
    color: white;
    padding-top: 30px;
    overflow: hidden;
}
.left_content:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.right_content {
    grid-area: right_content;
    background-color: #90B77D;
    padding-top: 30px;
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    overflow: hidden;
}
.right_content:hover {
    background-color: #42855B;
    color: white;
}
.banner {
    grid-area: banner;
    border-top: 1px solid black;
}
.banner img {
    border: 1px solid black;
    width: 60vw;
    height: 20vh;
}
/* end of main content */
footer {
    grid-area: footer;
    display: grid;
    grid-template-areas: 
    "links logo";
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 10vh;
    background-color: #483838;
    font-size: 10px;
}
.links {
    grid-area: links;
    grid-template-areas: 
    "llink"
    "rlink";
    grid-template-rows: 5vh 5vh;
    grid-template-columns: 80vw;

}
.left_link {
    grid-area: llink;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.right_link {
    grid-area: rlink;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    column-gap: 20px;
}
.footer_logo {
    grid-area: logo;
}
.footer_logo img {
    width: 20vw;
    height: 10vh;
}
.footer_link:link {
    text-decoration: none;
    color: white;
}
.footer_link:visited {
    text-decoration: none;
    color: white;
}
.carousel-caption {
    background-color: #483838;
    border-radius: 25px;
    opacity: 0.9;
}
.button-link {
    background-color: #42855B;
    padding: 10px 25px;
    border-radius: 25px;
}
.button-link a:link {
    text-decoration: none;
    color: white;
}
.button-link a:visited {
    text-decoration: none;
    color: white;
}
.button-link a:hover {
    text-decoration: none;
    color: black;
}
.button-link:hover {
    background-color: #D2D79F;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: 100vw;
        grid-template-rows: 10vh 80vh 10vh;
        background-color: white;
    }
    aside {
        grid-area: header;
        display: grid;
        grid-template-areas: 
        "logo navigation";
        grid-template-columns: 25vw 75vw;
        grid-template-rows: 10vh;
        background-color: #483838;
    }
    /* main */
    .rating img {
        border-right: 1px solid black;
        width: 40vw;
        height: 70vh;
    }
    .banner img {
        border: none;
        justify-self: center;
        align-self: center;
        width: 40vw;
        height: 20vh;
        margin-left: 10vw;
    }
    .buttons button {
       margin: 0 1vh;
       padding: 10px;
       font: 15px;
    }
    .left_content {
        padding-top: 5vh;
        font-size: 15pxpx;
    }
    .right_content {
        padding-top: 5vh;
        font-size: 15px;
    }
    /* end main */
    nav {
        grid-area: navigation;
        display: flex;
        flex-direction: row; 
        align-items: center;
        margin-left: 2vw;
        font-size: 13px;
    }
    .nav_link {
        position: relative;
        background-color: #42855B;
        display: grid;
        grid-template-rows: 1fr;
        width: auto;
        padding: 10px;
    }
    .active {
        background-color: #483838;
    }
    footer {
        grid-area: footer;
        border: 1px solid white;
        border-left: none;
        display: grid;
        grid-template-areas: 
        "links logo";
        grid-template-columns: 80vw 20vw;
        grid-template-rows: 10vh;
        font-size: 15px;
    }
    .links {
        grid-area: links;
        display: grid;
        grid-template-areas: 
        "llink rlink";
        grid-template-columns: 60vw 20vw;
        grid-template-rows: 10vh;
    }
    .right_link {
        font-size: 30px;
    }
    .footer_logo {
        grid-area: logo;
    }
}  
@media only screen and (min-width: 1025px) {
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: 100vw;
        grid-template-rows: 10vh 80vh 10vh;
        background-color: white;
    }
    aside {
        grid-area: header;
        display: grid;
        grid-template-areas: 
        "logo navigation";
        grid-template-columns: 25vw 75vw;
        grid-template-rows: 10vh;
        background-color: #483838;
    }
    /* main */
    .rating img {
        border-right: 1px solid black;
        width: 40vw;
        height: 70vh;
        background-color: white;
    }
    .banner img {
        border: none;
        justify-self: center;
        align-self: center;
        width: 30vw;
        height: 20vh;
        margin-left: 15vw;
    }
    .buttons button {
       margin: 0 3vh;
       padding: 15px;
       font: 20px;
    }
    .left_content {
        padding-top: 2vh;
        font-size: 16px;
    }
    .right_content {
        padding-top: 2vh;
        font-size: 16px;
    }
    /* end main */
    nav {
        grid-area: navigation;
        display: flex;
        flex-direction: row; 
        align-items: center;
        margin-left: 2vw;
    }
    .nav_link {
        position: relative;
        background-color: #42855B;
        display: grid;
        grid-template-rows: 1fr;
        width: auto;
        padding: 10px;
    }
    .active {
        background-color: #483838;
    }
    footer {
        grid-area: footer;
        border: 1px solid white;
        border-left: none;
        display: grid;
        grid-template-areas: 
        "links logo";
        grid-template-columns: 80vw 20vw;
        grid-template-rows: 10vh;
        font-size: 15px;
    }
    .links {
        grid-area: links;
        display: grid;
        grid-template-areas: 
        "llink rlink";
        grid-template-columns: 60vw 20vw;
        grid-template-rows: 10vh;
    }
    .right_link {
        font-size: 30px;
    }
    .footer_logo {
        grid-area: logo;
    }
}  