* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif, serif;
}
body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 1fr 10vh;
    background-color: #D2D79F;
}
aside {
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "logo navigation";
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 10vh;
    background-color: #483838;
}
.logo {
    grid-area: logo;
}
.logo img {
    width: 25vw;
    height: 10vh;
}
nav {
    grid-area: navigation;
    display: flex;
    flex-direction: row; 
    align-items: center;
    z-index: 1; 
}
.nav_link {
    position: relative;
    background-color: #42855B;
    display: grid;
    grid-template-columns: 1fr;
    width: 75vw;
    padding: 10px;
}
.navigation_a {
    text-align: center;
    color: white;
    text-decoration: none;
}
.nav_link:hover {
    background-color: #483838;
}
.navigation_a:hover {
    text-align: center;
    color: white;
    text-decoration: none;
}
.navbar-toggler {
    color: white;
    display: flex;
    float: right;
    margin-left: 85% !important;
}
/* main content */
main {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/media/main1.jpg);
    background-size: 100%;
}
/* Org Sliders */
.slide-container {
    max-width: 1120px;
    width: 100%;
    width: 100%;
    padding: 40px 0;
}
.card {
    width: 320px;
    height: auto;
    border-radius: 25px;
    background-color: #FFF;
}
.slide-content {
    margin: 0 10px;
    overflow: hidden;
    border-radius: 25px;
}
.image-content, .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
    
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #42855B;
    border-radius: 25px 25px 0 25px;
}
.overlay::before, .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #42855B;
}
.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #483838;
}
.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    color: black;
}
.button{
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: #483838;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover {
    background-color: #D2D79F;
    color: black;
}
.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
    display: none;
}
.swiper-navBtn:hover {
    color: #4070F4;
}
.swiper-navBtn::before, .swiper-navBtn::after {
    font-size: 40px;
}
.swiper-button-next {
    right: 0;
}
.swiper-button-prev {
    left: 0;
}
.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    color: #4070F4;
}
/* end of main content */
footer {
    grid-area: footer;
    display: grid;
    grid-template-areas: 
    "links logo";
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 10vh;
    background-color: #483838;
    font-size: 10px;
}
.links {
    grid-area: links;
    grid-template-areas: 
    "llink"
    "rlink";
    grid-template-rows: 5vh 5vh;
    grid-template-columns: 80vw;

}
.left_link {
    grid-area: llink;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.right_link {
    grid-area: rlink;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    column-gap: 20px;
}
.footer_logo {
    grid-area: logo;
}
.footer_logo img {
    width: 20vw;
    height: 10vh;
}
.footer_link:link {
    text-decoration: none;
    color: white;
}
.footer_link:visited {
    text-decoration: none;
    color: white;
}
.carousel-caption {
    background-color: #483838;
    border-radius: 25px;
    opacity: 0.9;
}
.button-link {
    background-color: #42855B;
    padding: 10px 25px;
    border-radius: 25px;
}
.button-link a:link {
    text-decoration: none;
    color: white;
}
.button-link a:visited {
    text-decoration: none;
    color: white;
}
.button-link a:hover {
    text-decoration: none;
    color: black;
}
.button-link:hover {
    background-color: #D2D79F;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: 100vw;
        grid-template-rows: 10vh 80vh 10vh;
        background-color: #D2D79F;
    }
    aside {
        grid-area: header;
        display: grid;
        grid-template-areas: 
        "logo navigation";
        grid-template-columns: 25vw 75vw;
        grid-template-rows: 10vh;
        background-color: #483838;
    }
    /* main */
    .swiper {
        margin-top: -10vh;
    }
    /* end main */
    nav {
        grid-area: navigation;
        display: flex;
        flex-direction: row; 
        align-items: center;
        margin-left: 2vw;
        font-size: 13px;
    }
    .nav_link {
        position: relative;
        background-color: #42855B;
        display: grid;
        grid-template-rows: 1fr;
        width: auto;
        padding: 10px;
    }
    .active {
        background-color: #483838;
    }
    footer {
        grid-area: footer;
        border: 1px solid white;
        border-left: none;
        display: grid;
        grid-template-areas: 
        "links logo";
        grid-template-columns: 80vw 20vw;
        grid-template-rows: 10vh;
        font-size: 15px;
    }
    .links {
        grid-area: links;
        display: grid;
        grid-template-areas: 
        "llink rlink";
        grid-template-columns: 60vw 20vw;
        grid-template-rows: 10vh;
    }
    .right_link {
        font-size: 30px;
    }
    .footer_logo {
        grid-area: logo;
    }
}  
@media only screen and (min-width: 1025px) {
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: 100vw;
        grid-template-rows: 10vh 80vh 10vh;
        background-color: #D2D79F;
    }
    aside {
        grid-area: header;
        display: grid;
        grid-template-areas: 
        "logo navigation";
        grid-template-columns: 25vw 75vw;
        grid-template-rows: 10vh;
        background-color: #483838;
    }
    /* main */
    .swiper {
        margin-top: -10vh;
    }
    .swiper-navBtn {
        color: #6E93f7;
        transition: color 0.3s ease;
        display: unset;
    }
    .slide-content {
        margin: 0 40px; 
    }
    /* end main */
    nav {
        grid-area: navigation;
        display: flex;
        flex-direction: row; 
        align-items: center;
        margin-left: 2vw;
    }
    .nav_link {
        position: relative;
        background-color: #42855B;
        display: grid;
        grid-template-rows: 1fr;
        width: auto;
        padding: 10px;
    }
    .active {
        background-color: #483838;
    }
    footer {
        grid-area: footer;
        border: 1px solid white;
        border-left: none;
        display: grid;
        grid-template-areas: 
        "links logo";
        grid-template-columns: 80vw 20vw;
        grid-template-rows: 10vh;
        font-size: 15px;
    }
    .links {
        grid-area: links;
        display: grid;
        grid-template-areas: 
        "llink rlink";
        grid-template-columns: 60vw 20vw;
        grid-template-rows: 10vh;
    }
    .right_link {
        font-size: 30px;
    }
    .footer_logo {
        grid-area: logo;
    }
}  