* {
    box-sizing: border-box;
}
li > a:hover {
    background-color: #483838;
    color: white!important;
}
li > a.active {
    background-color: #483838;
    color: white!important;
}
.header_navigation {
    background: #90B77D;
}
.navbar-nav {
    background-color: #90B77D;
    position: static;
}
.navbar {
    background-color: #483838;
}
header {
    border: 1px solid black;
}
li > a {
    color: black!important;
}
.btn {
    background-color: #D2D79F;
    color: black;
}